@media (hover: hover){
  .mp3_download:hover{
    background-color: var(--primary);
    color: var(--secondary);
    border-color: var(--primary);
  }
  #track_select button:hover{
    background-color: var(--primary);
    color: var(--secondary);
  }
}

.audio_container{
  width: 80%;
  margin:  0rem auto 2rem auto;
}

.print_download_container{
  margin-bottom: 0;
}

.audio_player{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.play_pause_container img{
	width: 2rem;
	height: 2rem;
}
.pause {
	display: none;
}

.progress_bar_wrapper{
	position: relative;
	height: 2rem;
	width: calc(100% - 3rem);
	box-sizing: border-box;
	border: 5px solid;
	border-top: none;
}

.time,
.mp3_download{
	position: absolute;
	top: calc(100% + 1rem);
  font-size: var(--s_font);
}

.mp3_download{
  top: calc(100% + 1rem - 0.5rem - 3px);
  right: -5px;
  text-decoration: none;
  padding: 0.5rem;
  border: 3px solid;
  border-top: none;
  box-sizing: border-box;
}

.audio_heading{
  display: block;
  margin-bottom: 1rem;
  font-family: 'Roundaway Gothic';
  font-size: var(--m_font);
}

.audio_track{
  margin-bottom: 1rem;
}

#track_select{
  display: flex;
  width: auto;
  border-top: 3px solid var(--primary);
  border-left: 3px solid var(--primary);
  margin-bottom: 2rem;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
}

#track_select button.selected,
#track_select button:focus-visible{
  background-color: var(--primary);
  color: var(--secondary);
}

#track_select button{
  cursor: pointer;
  padding:  0.5rem;
  box-sizing: border-box;
  font-family: 'Roundaway Stencil';
  color: var(--primary);
  border-radius: 0;
  border: none;
  margin: 0;
  appearance: none;
  -webkit-appearance: none;
  border-right: 3px solid var(--primary);
  border-bottom: 3px solid var(--primary);
  font-size: var(--l_font);
  flex-grow: 1;
  outline: none;
}

#track_select button.text{
  font-family: 'Dinish';
  font-size: var(--m_font);
}

#mp3_downloads{
  width: 100%;
  color:  var(--secondary);
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  border-radius: 2rem;
  background-color: var(--primary);
}
.mp3_download{
  display: flex;
  align-items: center;
  justify-content: center;
}

.mp3_download img{
  height: 1.5rem;
  margin-right: 1rem;
}

@media (max-width: 1200px){
  .audio_container{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px){
  .play_pause_container img{
    width: 1.5rem;
    height: 1.5rem;
  }
  .progress_bar_wrapper{
    height: 1.5rem;
    width: calc(100% - 2rem);
  }
}

.player.hidden{
  display: none !important;
}


.st0,
.play-pause-btn__icon,
.volume__speaker{fill: var(--primary);}
.st3{fill:none;stroke:var(--primary);stroke-width:10;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:12;}


@keyframes spin {
  from {
    transform: rotateZ(0); }
  to {
    transform: rotateZ(1turn); } }

.green-audio-player {
  width: 100%;
  min-width: 300px;
  height: 2rem;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  box-sizing: border-box;
  outline: none; }
  .green-audio-player.player-accessible .play-pause-btn:hover,
  .green-audio-player.player-accessible .controls:hover,
  .green-audio-player.player-accessible .volume__button:hover,
  .green-audio-player.player-accessible .volume__controls:hover,
  .green-audio-player.player-accessible .download:hover {
    outline: dotted 1px #999; }
  .green-audio-player svg,
  .green-audio-player img {
    display: block;
    width: 2rem;
    height: 2rem;}
  .green-audio-player .holder {
    position: relative; }
    .green-audio-player .holder .loading .loading__spinner {
      position: absolute;
      left: -3px;
      bottom: 2px;
      width: 16px;
      height: 16px;
      border: 2px solid var(--primary);
      border-right-color: rgba(0, 0, 0, 0);
      border-radius: 50%;
      animation: spin 0.4s linear infinite; }
    .green-audio-player .holder .play-pause-btn {
      visibility: hidden;
      cursor: pointer;
      outline: none; }
      .green-audio-player .holder .play-pause-btn:focus {
        outline: none; }
  .green-audio-player .slider {
    flex-grow: 1;
    cursor: pointer;
    position: relative; }
    .green-audio-player .slider .gap-progress {
      background-color: var(--primary);
      border-radius: inherit;
      position: absolute;
      pointer-events: none; }
      .green-audio-player .slider .gap-progress .pin {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: var(--primary);
        position: absolute;
        pointer-events: all;}
        .green-audio-player .slider .gap-progress .pin::after {
          content: "";
          display: block;
          background: rgba(0, 0, 0, 0);
          width: 200%;
          height: 200%;
          margin-left: -50%;
          margin-top: -50%;
          border-radius: 50%; }
  .green-audio-player .controls {
    font-family: "Dinish", sans-serif;
    font-size: var(--m_font);
    color: var(--primary);
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    outline: none; }
    .green-audio-player .controls .controls__slider {
      margin-left: 16px;
      margin-right: 16px;
      background-color: var(--secondary);
      border-bottom:  3px solid var(--primary);
      border-left:  3px solid var(--primary);
      border-right:  3px solid var(--primary);
      border-radius: 0;
      height: 1rem;
      -webkit-border-radius: 0;
      appearance: none;
      -webkit-appearance: none;}
      .green-audio-player .controls .controls__slider .controls__progress {
        width: 0;
        height: 100%; }
        .green-audio-player .controls .controls__slider .controls__progress .progress__pin {
          display: none;
          right: 0px;
          top: 0px; }
    .green-audio-player .controls span {
      cursor: default; }
    .green-audio-player .controls:focus {
      outline: none; }
  .green-audio-player .volume {
    position: relative; }
    .green-audio-player .volume .volume__button {
      cursor: pointer;
      outline: none; }
      .green-audio-player .volume .volume__button:focus {
        outline: none; }
      .green-audio-player .volume .volume__button.open path {
        fill: var(--primary); }
    .green-audio-player .volume .volume__controls {
      width: 30px;
      height: 135px;
      padding-bottom: 0rem;
      background-color: var(--secondary);
      border-radius: 7px;
      position: absolute;
      bottom: 2rem;
      flex-direction: column;
      align-items: center;
      display: flex;
      z-index: 2;
      border: 2px solid var(--primary);
      outline: none; }
      .green-audio-player .volume .volume__controls .volume__slider {
        margin-top: 12px;
        margin-bottom: 12px;
        width: 6px;
        border-radius: 3px; }
        .green-audio-player .volume .volume__controls .volume__slider .volume__progress {
          bottom: 0;
          height: 100%;
          width: 6px; }
          .green-audio-player .volume .volume__controls .volume__slider .volume__progress .volume__pin {
            left: -0.3rem;
            top: -0.5rem; }
      .green-audio-player .volume .volume__controls:focus {
        outline: none; }
      .green-audio-player .volume .volume__controls.hidden {
        display: none; }
      .green-audio-player .volume .volume__controls.top {
        /*bottom: 52px;
        left: -3px*/; }
      .green-audio-player .volume .volume__controls.middle {
        /*bottom: -54px;
        left: 54px;*/ }
      .green-audio-player .volume .volume__controls.bottom {
        /*bottom: -164px;
        left: -3px;*/ }
  .green-audio-player .download {
    display: block;
    margin-left: 16px;
    cursor: pointer;
    outline: none; }
    .green-audio-player .download:focus {
      outline: none; }
  .green-audio-player:focus {
    outline: none; }

.message__offscreen {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal; }
